.chat{
  display:flex;
  background-color: rgb(255, 255, 255);
  width:1140px;
  margin: 0 auto;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04204);
  height: 100%;
  &__sidebar{ 
    width: 320px;
    border-right: 1px solid #f7f7f7;
    &-header{
      display: flex;
      justify-content:  space-between;
      align-items: center;
      
      padding: 21px;
      height: 63px;
      border-bottom: 1px solid #f7f7f7;
      margin-bottom: 20px;

      .ant-btn-circle{
        position: relative;
        left: 5px;
      }
      &>div{
        i{
          display: inline-block;
          margin-right: 5px
        }
      }
    }
  
    &-dialogs{
      height: calc(100% - 136px);
      // overflow: auto;
     
      .dialogs{
        height: 100%;
        overflow: auto;  
        &__item{
          padding: 10px 20px; 
          margin-bottom: 0px;
          cursor: pointer;
         
        }
        
      }
    }
  }


  &__dialog{
    flex:1;

    &-header{
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom:  1px solid #f7f7f7;

      .ant-btn-circle{
        i{
          font-size: 24px;
        }
      }

      &-center{
        text-align: center;
      }

      
      &-username{
        font-weight: 500;
        display: block;
        // margin-bottom: 5px;
      }
    }

    &-messages{
      // padding: 20px;
      // padding-bottom: 0;
      // overflow: auto;
      height: calc(100% - 138px);

      &-empty{
        position: relative;
        text-align: center;
        top: 50%;
        opacity: 0.4;
      }

    }
  }
}